/*
ul.menuWidget,
ul.menuWidget li,
ul.menuWidget ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
    background: #555;
    color: #fff;
}

ul.menuWidget {
    position: relative;
    z-index: 597;
    float: left;
}

ul.menuWidget li {
    float: left;
    line-height: 1.3em;
    vertical-align: middle;
    zoom: 1;
    padding: 5px 10px;
}

ul.menuWidget ul {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 598;
    width: 195px;
    background: #555;
    border: 1px solid #fff;
}

ul.menuWidget ul li {
    float: none;
}

ul.menuWidget ul ul {
    top: -2px;
    left: 100%;
}*/
